@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    

}

.header_logo{
    img{

    }
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;

    li{
        list-style: none;
    }
    a{
        font-family: "Poppins-SemiBold";
        color: var(--color-1);
        text-decoration: none;
        font-size: 28px;
        display: flex;
    }
    img{

    }
}
.header_menu{
    img{

    }
}
main{
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section_container{
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}
.article_jumping{
    width: 679px;
    display: flex;
    flex-direction: column;

    h1{
        color: var(--color-1);
        font-family:"Poppins-SemiBold";
        font-size: 120px;
        line-height: 91.4%;

    }
    p{
        margin-top: 26px;
        font-family:"Poppins-Medium";
        font-size:24px ;
        color: var(--color-6);
        line-height: 123%;
    }
}
.div_buttons{
    margin-top: 26px;
    display: flex;
    gap: 38px;
    a{
        width: 264px;
        height: 86px;
        border-radius:14px ;
        outline: 1px solid var(--color-1);
        background: transparent;
        font-family:"Poppins-Thin";
        font-size: 32px;
        font-weight: 900;
        color: var(--color-1);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        outline: none;
        backdrop-filter: blur(24px);
    }
    :hover a:hover{
        outline: none;
        backdrop-filter: blur(24px);
    }
}

.article_reviews {
    padding: 20px;
}
.div_reviews-container {
    width: 345px;
    height: 202px;
    background: var(--color-1);
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_reviews-cards {

    p{
        font-family: "Poppins-Medium";
        text-align: justify;
        margin-top: 12px;
        font-size: 18px;
        color: var(--color-7);
        width: 277px;
    }
}
.div_reviews-profile {
    gap: 16px;
    display: flex;

    img{
        object-fit: contain;

    }
}
.div_reviews-rating {

    h3{
        color: var(--color-2);
        font-family: "Poppins-Medium";
        font-size: 28px;

    }
}
.div_reviews-stars {
    margin-top: 5px;
    img{
        padding: 0;


    }
}
