@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--color-8) ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    

}

.header_logo{
    img{

    }
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;

    li{
        list-style: none;
    }
    a{
        font-family: "Poppins-SemiBold";
        color: var(--color-1);
        text-decoration: none;
        font-size: 28px;
        display: flex;
    }
    img{

    }
}
.header_menu{
    img{

    }
}
main{
    background: green;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section_container{
    display: flex;
    justify-content: space-between;
}
.article_jumping{
    width: 679px;

    display: flex;
    flex-direction: column;

    h1{
        color: var(--color-1);
        font-family:"Poppins-SemiBold";
        font-size: 120px;
        line-height: 91.4%;

    }
    p{
        margin-top: 26px;
        font-family:"Poppins-Medium";
        font-size:24px ;
        color: var(--color-6);
        line-height: 123%;
    }
}
.div_buttons{
    margin-top: 26px;
    display: flex;
    gap: 38px;
    a{
        width: 264px;
        height: 86px;
        border-radius:14px ;
        outline: 1px solid var(--color-1);
        background: transparent;
        font-family:"Poppins-Thin";
        font-size: 32px;
        font-weight: 900;
        color: var(--color-1);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        outline: none;
        backdrop-filter: blur(24px);
    }
    :hover a:hover{
        outline: none;
        backdrop-filter: blur(24px);
    }
}

.article_reviews {
    background: red;
    padding: 20px;
}
.div_reviews-container {
    background: blue;
    padding: 20px;
}
.div_reviews-cards {
    background: green;
    padding: 20px;

    p{

    }
}
.div_reviews-profile {
    background: violet;
    padding: 20px;

    img{
        background: orange;
        padding: 20px;

    }
}
.div_reviews-rating {
    background: yellow;
    padding: 20px;

    h3{

    }
}
.div_reviews-stars {
    background: olive;
    img{
        background: turquoise;

    }
}
